<div class="container-fluid container-user-login-form">
    <div class="row row-user-login-form">
        <div class="col-12 column-user-login-form">

            <div class="user-login-form-external-box">

                <div class="user-login-description-loan-box"></div>
                   <div class="user-login-sections-box">
                        <div class="sections-box"></div>
                         <div class="sections-box"></div>
                          <div class="sections-box"></div>
                   </div>

                <div class="user-login-form-box">

                    <form #formulario class="form-user-login" id="formulario-contacto-id">
                        <fieldset class="user-login-fieldset-data">

                            <legend id="user-login-legend">
                                <h2>Contactanos</h2>
                            </legend>

                            <input type="text" id="inputNombre" class="form-control formulario-login-input"
                                placeholder="Ingresa tu nombre" required autofocus formControlName="nombreProspecto">
                            <div class="formulario-login-conte-parrafo">
                                <p class="formulario-login-parrafo">Ingresa tu nombre, por favor</p>
                            </div>

                            <input type="text" id="inputTelefono" class="form-control formulario-login-input"
                                placeholder="Ingresa tu teléfono" required autofocus
                                formControlName="telefonoProspecto">
                            <div class="formulario-login-conte-parrafo">
                                <p class="formulario-login-parrafo">Por favor, ingresa un teléfono de contacto</p>
                            </div>

                            <input type="email" id="inputEMail" class="form-control formulario-login-input"
                                placeholder="Ingresa tu e mail" required autofocus formControlName="emailProspecto">
                            <div class="formulario-login-conte-parrafo">
                                <p class="formulario-login-parrafo">Ingresa un email válido, por favor</p>
                            </div>

                        </fieldset>

                        <fieldset class="formulario-contacto-fieldset-botones">
                            <button class="formulario-login-boton">Enviar</button>
                        </fieldset>

                    </form>
                </div>


            </div>

        </div>
    </div>
</div>