<div class="container-fluid container-user-personal-data-form">
    <div class="row row-user-personal-data-form">
        <div class="col-12 column-user-personal-data-form">

            <div class="user-personal-data-form-external-box">

                <div class="user-personal-data-description-loan-box"></div>

                <div class="user-personal-data-sections-box">
                    <div class="sections-box sections-box-left">
                        
                    </div>
                    <div class="sections-box sections-box-middle">
                        <div class="sections-box-loader">
                            <div class="spinner">
                                <div class="spinner1"></div>
                            </div>
                        </div>
                        <div class="sections-box-text">
                            <p>Información laboral</p>
                        </div>
                    </div>
                    <div class="sections-box sections-box-right"></div>
                    <div class="sections-box-gradient"></div>
                </div>



                <div class="user-personal-data-form-box">

                    <form #formulario class="form-user-personal-data" id="form-user-personal-data-id">

                        <fieldset class="fieldset-user-personal-data">

                              <div class="fieldset-data-box">
                                <legend id="user-personal-data-legend">
                                    <h2>Datos de Empleo</h2>
                                </legend>

                                <!-- actualizar nombres de ids, placeholders, formControl-->
                                <div class="input-personal-data-field-name">
                                    <p class="validation-text">Primer nombre</p>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Ingresa tu nombre" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu nombre, por favor</p>
                                </div>

                                  <div class="input-personal-data-field-name">
                                    <p class="validation-text">Segundo nombre</p>
                                </div>
                                <input type="text" id="inputTelefono" class="form-control form-input-personal-data"
                                    placeholder="Ingresa tu teléfono" required autofocus
                                    formControlName="telefonoProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Por favor, ingresa un teléfono de contacto</p>
                                </div>

                                  <div class="input-personal-data-field-name">
                                    <p class="validation-text">Apellido Paterno</p>
                                </div>
                                <input type="email" id="inputEMail" class="form-control form-input-personal-data"
                                    placeholder="Ingresa tu e mail" required autofocus formControlName="emailProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa un email válido, por favor</p>
                                </div>
                            </div>

                            <div class="fieldset-data-box">
                                <legend id="user-personal-data-legend">
                                    <h2></h2>
                                </legend>

                                <!-- actualizar nombres de ids, placeholders, formControl-->
                                <div class="input-personal-data-field-name">
                                    <p class="validation-text">Apellido materno</p>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Ingresa tu nombre" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu nombre, por favor</p>
                                </div>

                                  <div class="input-personal-data-field-name">
                                    <p class="validation-text">Género</p>
                                </div>
                                <input type="text" id="inputTelefono" class="form-control form-input-personal-data"
                                    placeholder="Ingresa tu teléfono" required autofocus
                                    formControlName="telefonoProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Por favor, ingresa un teléfono de contacto</p>
                                </div>

                                  <div class="input-personal-data-field-name">
                                    <p class="validation-text">Fecha de nacimiento</p>
                                </div>
                                <input type="date" id="inputEMail" class="form-control form-input-personal-data form-input-personal-data-birthday"
                                    placeholder="Ingresa tu e mail" required autofocus formControlName="emailProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa un email válido, por favor</p>
                                </div>
                            </div>

                            

                          
                        </fieldset>

                        <fieldset class="formulario-contacto-fieldset-botones">
                            <button class="formulario-login-boton">Enviar</button>
                        </fieldset>

                    </form>
                </div>


            </div>

        </div>
    </div>
</div>