<div class="container-fluid container-user-personal-data-form">
    <div class="row row-user-personal-data-form">
        <div class="col-12 column-user-personal-data-form">

            <div class="user-personal-data-form-external-box">

                <div class="user-personal-data-description-loan-box"></div>

                <div class="user-personal-data-sections-box">
                    <div class="sections-box sections-box-left">
                       
                    </div>
                    <div class="sections-box sections-box-middle">
                         <div class="sections-box-loader">
                            <div class="spinner">
                                <div class="spinner1"></div>
                            </div>
                        </div>
                        <div class="sections-box-text">
                            <p>Información laboral</p>
                        </div>
                    </div>
                    <div class="sections-box sections-box-right"></div>
                    <div class="sections-box-gradient"></div>
                </div>



                <div class="user-personal-data-form-box">

                    <form #formulario class="form-user-personal-data" id="form-user-personal-data-id">

                        <fieldset class="fieldset-user-personal-data">

                            <div class="fieldset-data-box">
                                <legend id="user-personal-data-legend">
                                    <h2>Datos del empleo</h2>
                                </legend>

                                <!-- actualizar nombres de ids, placeholders, formControl-->
                                <div class="label-personal-data-field-name short-label-personal-data-field-name">
                                    <label class="validation-text">Actividad</label>
                                </div>
                                <select id="lista-desplegable-guardar" formControlName="categoriaProducto"
                                    class="form-control form-input-personal-data form-input-personal-gender">
                                    <option value="tradicionales-clasicas">Selecciona</option>
                                    <option value="tradicionales-especiales">Trabajador independiente</option>
                                    <option value="gourmet-clasicas">Empleado</option>
                                    <option value="tradicionales-especiales">Empresario</option>
                                    <option value="gourmet-clasicas">Ama de casa</option>
                                </select>
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Por favor, selecciona tu género</p>
                                </div>

                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Empresa</label>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Empresa (*si aplica)" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu nombre, por favor</p>
                                </div>

                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Antigüedad</label>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Antigüedad (*obligatorio)" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu nombre, por favor</p>
                                </div>





                            </div>

                            <div class="fieldset-data-box">
                                <legend id="user-personal-data-legend">
                                    <h2></h2>
                                </legend>

                                <!-- actualizar nombres de ids, placeholders, formControl-->
                                <div class="label-personal-data-field-name short-label-personal-data-field-name">
                                    <label class="validation-text">Ingreso mensual</label>
                                </div>
                                <select id="lista-desplegable-guardar" formControlName="categoriaProducto"
                                    class="form-control form-input-personal-data form-input-personal-gender">
                                    <option value="tradicionales-clasicas">Selecciona</option>
                                    <option value="tradicionales-especiales">$5,000.00 a $10,000.00</option>
                                    <option value="gourmet-clasicas">$10,000.00 a $15,000.00</option>
                                    <option value="gourmet-clasicas">$15,000.00 a $25,000.00</option>
                                    <option value="gourmet-clasicas">más de $25,000.00</option>
                                </select>
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Por favor, selecciona tu género</p>
                                </div>

                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Puesto</label>
                                </div>
                                <input type="text" id="inputEMail" class="form-control form-input-personal-data"
                                    placeholder="Puesto (*obligatorio)" required autofocus
                                    formControlName="emailProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa un email válido, por favor</p>
                                </div>
                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Teléfono</label>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Teléfono (*obligatorio)" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu nombre, por favor</p>
                                </div>

                            </div>


                        </fieldset>

                        <fieldset class="formulario-contacto-fieldset-botones">
                            <button class="formulario-login-boton" (click)="goToWorkInformation()">Enviar</button>
                        </fieldset>

                    </form>
                </div>


            </div>

        </div>
    </div>
</div>