<div class="container-fluid container-user-personal-data-form">
    <div class="row row-user-personal-data-form">
        <div class="col-12 column-user-personal-data-form">

            <div class="user-personal-data-form-external-box">

                <div class="user-personal-data-description-loan-box"></div>

                <div class="user-personal-data-sections-box">
                    <div class="sections-box sections-box-left">
                        <div class="sections-box-loader">
                            <div class="spinner">
                                <div class="spinner1"></div>
                            </div>
                        </div>
                        <div class="sections-box-text">
                            <p>Información personal</p>
                        </div>
                    </div>
                    <div class="sections-box sections-box-middle"></div>
                    <div class="sections-box sections-box-right"></div>
                    <div class="sections-box-gradient"></div>
                </div>



                <div class="user-personal-data-form-box">

                    <form #formulario class="form-user-personal-data" id="form-user-personal-data-id">

                        <fieldset class="fieldset-user-personal-data">

                            <div class="fieldset-data-box">
                                <legend id="user-personal-data-legend">
                                    <h2>Datos Personales</h2>
                                </legend>

                                <!-- actualizar nombres de ids, placeholders, formControl-->
                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Primer nombre</label>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Primer nombre (obligatorio)" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu nombre, por favor</p>
                                </div>

                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Apellido Paterno</label>
                                </div>
                                <input type="text" id="inputTelefono" class="form-control form-input-personal-data"
                                    placeholder="Apellido Paterno (obligatorio)" required autofocus
                                    formControlName="telefonoProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Por favor, ingresa un teléfono de contacto</p>
                                </div>

                                <div class="label-personal-data-field-name short-label-personal-data-field-name">
                                    <label class="validation-text">Género</label>
                                </div>
                                <select id="lista-desplegable-guardar" formControlName="categoriaProducto" class="form-control form-input-personal-data form-input-personal-gender">
                                    <option value="tradicionales-clasicas">Selecciona</option>
                                    <option value="tradicionales-especiales">Masculino</option>
                                    <option value="gourmet-clasicas">Femenino</option>
                                </select>
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Por favor, selecciona tu género</p>
                                </div>

        
                            </div>

                            <div class="fieldset-data-box">
                                <legend id="user-personal-data-legend">
                                    <h2></h2>
                                </legend>

                                <!-- actualizar nombres de ids, placeholders, formControl-->
                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Segundo nombre</label>
                                </div>
                                <input type="text" id="inputNombre" class="form-control form-input-personal-data"
                                    placeholder="Segundo nombre (*si aplica)" required autofocus
                                    formControlName="nombreProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa tu segundo nombre, por favor *opcional</p>
                                </div>

                                <div class="label-personal-data-field-name">
                                    <label class="validation-text">Apellido Materno</label>
                                </div>
                                <input type="text" id="inputEMail" class="form-control form-input-personal-data"
                                    placeholder="Apellido Materno (obligatorio)" required autofocus formControlName="emailProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa un email válido, por favor</p>
                                </div>

                               <div class="label-personal-data-field-name short-label-personal-data-field-name">
                                    <label class="validation-text">Fecha de nacimiento</label>
                                </div>
                                <input type="date" id="inputEMail"
                                    class="form-control form-input-personal-data form-input-personal-data-birthday"
                                    placeholder="Ingresa tu e mail" required autofocus formControlName="emailProspecto">
                                <div class="input-personal-data-validation-text">
                                    <p class="validation-text">Ingresa un email válido, por favor</p>
                                </div>
                            </div>




                        </fieldset>

                        <fieldset class="formulario-contacto-fieldset-botones">
                            <button class="formulario-login-boton" (click)="goToWorkInformation()">Enviar</button>
                        </fieldset>

                    </form>
                </div>


            </div>

        </div>
    </div>
</div>